


.box{
    background-color: white;
    padding: 2px;
    color: white;
    text-align: center;
}
/* Para contenedores particulares -----------------------------------*/
.header{
    display: inline-flex;
    justify-content: space-between;
    margin: 27px auto 0;
    position: relative;
	width: 500px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    grid-area: header;
}




.main{
    display: grid;
    font-family: 'Times New Roman', Times, serif;
    grid-area: main;
    background-color: gray;
}
.aside{
   
    font-family: 'Times New Roman', Times, serif;
    grid-area: aside;
    background-color: red;
}
.footer{
    
    font-family: 'Times New Roman', Times, serif;
    grid-area: footer;
    background-color: yellow;
}
#publicidad{
    font-family: 'Times New Roman', Times, serif;
    grid-area: publicidad;
    background-color: green;
}
/* ---------------------------------------------- */

/* Direcciones------------------------------------- */

img{
    width: 100%;
    height: 100%;
}
/* --------------------------------------------------- */

/* Para todos los contenedores*/
.contenedor-main{
 
     grid-template-columns:  1fr 1fr 1fr; 
    /* grid-template-rows: 6fr; */
    /* grid-auto-rows: 6fr; */
    gap: 1px;
}
.contenedor{
    grid-template-columns: .4fr 1fr 1fr .2fr; 
    display: grid;
    background-color: white; 
    gap: 2px;

     grid-template-areas: 
    'header header  header  header'
    'aside  main    main    publicidad'
    'aside  main    main    publicidad'
    'footer footer  footer  footer' 
    ; 
}
/* MediaQueries ------------------------------------------ */

@media (max-width: 480px){
    .contenedor-main{
        grid-template-columns: 1fr;
    }
    .contenedor{ 
        grid-template-columns: auto;

        /* grid-template-rows: .1fr 2fr 1fr; */
        grid-template-areas:
                'header header  header  header'
                'aside  main    main    main'
                'aside  main    main    main'
                'footer footer  footer  footer';}
            #publicidad {
                display: none;
            }
                                            
}
@media (max-width: 1140px){
    
    .contenedor{ 
        grid-template-columns: .3fr 2fr 2fr .2fr; 
        grid-template-areas:
            'header header  header  header'
            'aside  main    main    publicidad'
            'aside  main    main    publicidad '
            'footer footer  footer  footer';}
                                            
}
@media (min-width: 1141px){
    
    .contenedor{
    grid-template-columns: .1fr 3fr 3fr .3fr;
    /* grid-auto-rows: 2fr; */
    gap: 2px;
        grid-template-areas:
            'header header  header  header'
            'aside  main    main    publicidad'
            'aside  main    main    publicidad '
            'footer footer  footer  footer'}
                                            
}
/* ----------------------------------------------------------- */


